<li id="reminder-<%= reminder.id %>">
<span class="content"><%= reminder.content %></span>
<p>
  <span class="when_activate">
    Llamar el día
    <%= reminder.when_activate.strftime("%d-%m-%Y") %>
    a las <%= reminder.when_activate.strftime("%H:%m") %>
  </span>
  <span class="timestamp">
    Creado el
    <%= reminder.created_at.strftime("%d-%m-%Y") %>
  </span>
</p>


</li>
