<li id="reminder-<%= reminder.id %>">
  <span class="content"><%= reminder.content %></span>
  <p>
    <span class="when_activate">
      Llamar a las <%= reminder.when_activate.strftime("%l:%M %p") %>
      el día
      <%= reminder.when_activate.strftime("%d-%m-%Y") %>
    </span>
    <span class="timestamp">
      | Creado el
      <%= reminder.created_at.strftime("%d-%m-%Y") %>
      <% if current_user?(reminder.user) %>
        <%= link_to "Eliminar", reminder, method: :delete, data: { confirm: "¿Estas seguro que quieres eliminar el recordatorio?"} %>
      <% end %>
    </span>
  </p>

</li>
